body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1830 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1832 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  position:absolute;
  left:20px;
  top:292px;
  width:300px;
  height:40px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1836 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1838 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1840 {
  position:absolute;
  left:18px;
  top:267px;
  width:198px;
  height:15px;
  font-size:12px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:18px;
  top:115px;
  width:302px;
  height:44px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:28px;
  top:129px;
  width:127px;
  height:16px;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u1848 {
  position:absolute;
  left:196px;
  top:129px;
  width:113px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  position:absolute;
  left:18px;
  top:159px;
  width:302px;
  height:44px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:28px;
  top:173px;
  width:113px;
  height:16px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u1855 {
  position:absolute;
  left:196px;
  top:173px;
  width:113px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:18px;
  top:213px;
  width:302px;
  height:44px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:28px;
  top:227px;
  width:57px;
  height:16px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u1862 {
  position:absolute;
  left:201px;
  top:227px;
  width:108px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
