body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u71 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u74 {
  position:absolute;
  left:100px;
  top:44px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:11px;
  top:123px;
  width:320px;
  height:142px;
}
#u78 {
  position:absolute;
  left:2px;
  top:63px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:75px;
}
#u79 {
  position:absolute;
  left:20px;
  top:133px;
  width:86px;
  height:75px;
}
#u80 {
  position:absolute;
  left:2px;
  top:30px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u81 {
  position:absolute;
  left:114px;
  top:135px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u83 {
  position:absolute;
  left:114px;
  top:155px;
  width:39px;
  height:13px;
  font-size:10px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u85 {
  position:absolute;
  left:114px;
  top:173px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u87 {
  position:absolute;
  left:299px;
  top:174px;
  width:24px;
  height:12px;
  font-size:9px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u89 {
  position:absolute;
  left:114px;
  top:192px;
  width:61px;
  height:13px;
  font-size:10px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:2px;
}
#u91 {
  position:absolute;
  left:114px;
  top:220px;
  width:209px;
  height:1px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(245, 149, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:114px;
  top:226px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:114px;
  top:244px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u97 {
  position:absolute;
  left:131px;
  top:226px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u99 {
  position:absolute;
  left:131px;
  top:244px;
  width:115px;
  height:13px;
  font-size:10px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:11px;
  top:275px;
  width:320px;
  height:142px;
}
#u103 {
  position:absolute;
  left:2px;
  top:63px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:75px;
}
#u104 {
  position:absolute;
  left:20px;
  top:285px;
  width:86px;
  height:75px;
}
#u105 {
  position:absolute;
  left:2px;
  top:30px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u106 {
  position:absolute;
  left:114px;
  top:287px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u108 {
  position:absolute;
  left:114px;
  top:307px;
  width:39px;
  height:13px;
  font-size:10px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u110 {
  position:absolute;
  left:114px;
  top:325px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u112 {
  position:absolute;
  left:299px;
  top:326px;
  width:24px;
  height:12px;
  font-size:9px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u114 {
  position:absolute;
  left:114px;
  top:344px;
  width:61px;
  height:13px;
  font-size:10px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:2px;
}
#u116 {
  position:absolute;
  left:114px;
  top:372px;
  width:209px;
  height:1px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(245, 149, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:114px;
  top:378px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:114px;
  top:396px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u121 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u122 {
  position:absolute;
  left:131px;
  top:378px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u124 {
  position:absolute;
  left:131px;
  top:396px;
  width:115px;
  height:13px;
  font-size:10px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:11px;
  top:427px;
  width:320px;
  height:142px;
}
#u128 {
  position:absolute;
  left:2px;
  top:63px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:75px;
}
#u129 {
  position:absolute;
  left:20px;
  top:437px;
  width:86px;
  height:75px;
}
#u130 {
  position:absolute;
  left:2px;
  top:30px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u131 {
  position:absolute;
  left:114px;
  top:439px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u133 {
  position:absolute;
  left:114px;
  top:459px;
  width:39px;
  height:13px;
  font-size:10px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u135 {
  position:absolute;
  left:114px;
  top:477px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u137 {
  position:absolute;
  left:299px;
  top:478px;
  width:24px;
  height:12px;
  font-size:9px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u139 {
  position:absolute;
  left:114px;
  top:496px;
  width:61px;
  height:13px;
  font-size:10px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:2px;
}
#u141 {
  position:absolute;
  left:114px;
  top:524px;
  width:209px;
  height:1px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(245, 149, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:114px;
  top:530px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:114px;
  top:548px;
  width:12px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u147 {
  position:absolute;
  left:131px;
  top:530px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u149 {
  position:absolute;
  left:131px;
  top:548px;
  width:115px;
  height:13px;
  font-size:10px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:11px;
  top:79px;
  width:320px;
  height:34px;
}
#u152 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u153 {
  position:absolute;
  left:175px;
  top:37px;
  width:148px;
  height:34px;
  font-size:11px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u155 {
  position:absolute;
  left:76px;
  top:42px;
  width:21px;
  height:24px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u157 {
  position:absolute;
  left:199px;
  top:47px;
  width:15px;
  height:15px;
}
#u158 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u159 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
