body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1165px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:838px;
  top:10px;
  width:320px;
  height:568px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:838px;
  top:30px;
  width:320px;
  height:49px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2009 {
  position:absolute;
  left:851px;
  top:45px;
  width:12px;
  height:20px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2011 {
  position:absolute;
  left:873px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2013 {
  position:absolute;
  left:848px;
  top:354px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:838px;
  top:88px;
  width:320px;
  height:54px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:851px;
  top:107px;
  width:71px;
  height:16px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u2020 {
  position:absolute;
  left:1094px;
  top:103px;
  width:54px;
  height:24px;
  font-size:20px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  position:absolute;
  left:838px;
  top:236px;
  width:320px;
  height:44px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2025 {
  position:absolute;
  left:1128px;
  top:248px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  position:absolute;
  left:851px;
  top:250px;
  width:71px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u2029 {
  position:absolute;
  left:959px;
  top:578px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:838px;
  top:143px;
  width:320px;
  height:50px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:851px;
  top:160px;
  width:43px;
  height:16px;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2036 {
  position:absolute;
  left:904px;
  top:160px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2038 {
  position:absolute;
  left:1094px;
  top:160px;
  width:44px;
  height:16px;
  text-align:right;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u2040 {
  position:absolute;
  left:1142px;
  top:163px;
  width:6px;
  height:11px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:832px;
  top:136px;
  width:333px;
  height:65px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:838px;
  top:290px;
  width:320px;
  height:54px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:851px;
  top:309px;
  width:71px;
  height:16px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u2049 {
  position:absolute;
  left:1105px;
  top:305px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:457px;
  top:10px;
  width:320px;
  height:568px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:457px;
  top:30px;
  width:320px;
  height:49px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2057 {
  position:absolute;
  left:470px;
  top:45px;
  width:12px;
  height:20px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2059 {
  position:absolute;
  left:492px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2061 {
  position:absolute;
  left:467px;
  top:368px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:457px;
  top:275px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u2065 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:737px;
  top:302px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u2067 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2069 {
  position:absolute;
  left:457px;
  top:89px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u2070 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:737px;
  top:116px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u2072 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2074 {
  position:absolute;
  left:457px;
  top:182px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u2075 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:737px;
  top:209px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:152px;
  height:31px;
}
#u2078 {
  position:absolute;
  left:320px;
  top:165px;
  width:137px;
  height:5px;
  color:#FF0000;
}
#u2079 {
  position:absolute;
  left:2px;
  top:-6px;
  width:133px;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2084 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2086 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2088 {
  position:absolute;
  left:20px;
  top:386px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:10px;
  top:88px;
  width:320px;
  height:54px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:23px;
  top:107px;
  width:71px;
  height:16px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u2095 {
  position:absolute;
  left:221px;
  top:107px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:10px;
  top:236px;
  width:320px;
  height:44px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:300px;
  top:248px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:23px;
  top:250px;
  width:71px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u2104 {
  position:absolute;
  left:131px;
  top:578px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2107 {
  position:absolute;
  left:10px;
  top:143px;
  width:320px;
  height:50px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  position:absolute;
  left:23px;
  top:160px;
  width:43px;
  height:16px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2111 {
  position:absolute;
  left:76px;
  top:160px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2113 {
  position:absolute;
  left:267px;
  top:160px;
  width:43px;
  height:16px;
  text-align:right;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u2115 {
  position:absolute;
  left:314px;
  top:163px;
  width:6px;
  height:11px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:4px;
  top:136px;
  width:333px;
  height:65px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:10px;
  top:281px;
  width:320px;
  height:54px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:23px;
  top:300px;
  width:71px;
  height:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u2124 {
  position:absolute;
  left:277px;
  top:296px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:838px;
  top:600px;
  width:320px;
  height:568px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:838px;
  top:620px;
  width:320px;
  height:49px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2131 {
  position:absolute;
  left:851px;
  top:635px;
  width:12px;
  height:20px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2133 {
  position:absolute;
  left:873px;
  top:636px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2135 {
  position:absolute;
  left:848px;
  top:988px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:838px;
  top:678px;
  width:320px;
  height:54px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:851px;
  top:697px;
  width:71px;
  height:16px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u2142 {
  position:absolute;
  left:1094px;
  top:693px;
  width:54px;
  height:24px;
  font-size:20px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:838px;
  top:826px;
  width:320px;
  height:44px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2147 {
  position:absolute;
  left:1128px;
  top:838px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:851px;
  top:840px;
  width:155px;
  height:16px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u2151 {
  position:absolute;
  left:959px;
  top:1168px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:838px;
  top:733px;
  width:320px;
  height:50px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:851px;
  top:750px;
  width:43px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2158 {
  position:absolute;
  left:904px;
  top:750px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2160 {
  position:absolute;
  left:1094px;
  top:750px;
  width:44px;
  height:16px;
  text-align:right;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u2162 {
  position:absolute;
  left:1142px;
  top:753px;
  width:6px;
  height:11px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:832px;
  top:726px;
  width:333px;
  height:65px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:838px;
  top:924px;
  width:320px;
  height:54px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:851px;
  top:943px;
  width:71px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u2171 {
  position:absolute;
  left:1105px;
  top:939px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  position:absolute;
  left:838px;
  top:870px;
  width:320px;
  height:44px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2176 {
  position:absolute;
  left:1128px;
  top:882px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:851px;
  top:884px;
  width:71px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2180 {
  position:absolute;
  left:767px;
  top:388px;
  width:0px;
  height:0px;
}
#u2180_seg0 {
  position:absolute;
  left:-25px;
  top:-52px;
  width:120px;
  height:10px;
  -webkit-transform:rotate(127.064449629911deg);
  -moz-transform:rotate(127.064449629911deg);
  -ms-transform:rotate(127.064449629911deg);
  transform:rotate(127.064449629911deg);
}
#u2180_seg1 {
  position:absolute;
  left:57px;
  top:-101px;
  width:20px;
  height:20px;
}
#u2181 {
  position:absolute;
  left:-14px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182 {
  position:absolute;
  left:767px;
  top:388px;
  width:0px;
  height:0px;
}
#u2182_seg0 {
  position:absolute;
  left:-217px;
  top:244px;
  width:504px;
  height:8px;
  -webkit-transform:rotate(-98.1462738974785deg);
  -moz-transform:rotate(-98.1462738974785deg);
  -ms-transform:rotate(-98.1462738974785deg);
  transform:rotate(-98.1462738974785deg);
}
#u2182_seg1 {
  position:absolute;
  left:60px;
  top:481px;
  width:20px;
  height:20px;
}
#u2183 {
  position:absolute;
  left:-14px;
  top:240px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
