body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4129 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u4130 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4131 {
  position:absolute;
  left:10px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4132 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4133 {
  position:absolute;
  left:126px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4135 {
  position:absolute;
  left:29px;
  top:484px;
  width:80px;
  height:80px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4139 {
  position:absolute;
  left:138px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4141 {
  position:absolute;
  left:289px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4142 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  position:absolute;
  left:10px;
  top:147px;
  width:320px;
  height:199px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4146 {
  position:absolute;
  left:102px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  position:absolute;
  left:218px;
  top:174px;
  width:15px;
  height:16px;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  position:absolute;
  left:145px;
  top:195px;
  width:51px;
  height:16px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u4153 {
  position:absolute;
  left:159px;
  top:203px;
  width:37px;
  height:1px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  position:absolute;
  left:27px;
  top:217px;
  width:57px;
  height:16px;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4158 {
  position:absolute;
  left:206px;
  top:217px;
  width:107px;
  height:16px;
  text-align:right;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4160 {
  position:absolute;
  left:27px;
  top:243px;
  width:57px;
  height:16px;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4162 {
  position:absolute;
  left:170px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4164 {
  position:absolute;
  left:27px;
  top:269px;
  width:57px;
  height:16px;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4166 {
  position:absolute;
  left:270px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4168 {
  position:absolute;
  left:27px;
  top:295px;
  width:57px;
  height:16px;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4170 {
  position:absolute;
  left:192px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4172 {
  position:absolute;
  left:27px;
  top:321px;
  width:43px;
  height:16px;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4174 {
  position:absolute;
  left:264px;
  top:321px;
  width:49px;
  height:16px;
  text-align:right;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4177 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:58px;
}
#u4178 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4179 {
  position:absolute;
  left:152px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4181 {
  position:absolute;
  left:117px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4182 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4183 {
  position:absolute;
  left:340px;
  top:10px;
  width:320px;
  height:568px;
}
#u4184 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4185 {
  position:absolute;
  left:340px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4186 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4187 {
  position:absolute;
  left:456px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4188 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4189 {
  position:absolute;
  left:359px;
  top:484px;
  width:80px;
  height:80px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4191 {
  position:absolute;
  left:340px;
  top:30px;
  width:320px;
  height:49px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4193 {
  position:absolute;
  left:468px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4194 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4195 {
  position:absolute;
  left:619px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4196 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4198 {
  position:absolute;
  left:340px;
  top:147px;
  width:320px;
  height:199px;
}
#u4199 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4201 {
  position:absolute;
  left:432px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4203 {
  position:absolute;
  left:551px;
  top:176px;
  width:15px;
  height:16px;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4206 {
  position:absolute;
  left:357px;
  top:217px;
  width:57px;
  height:16px;
}
#u4207 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4208 {
  position:absolute;
  left:536px;
  top:217px;
  width:107px;
  height:16px;
  text-align:right;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4210 {
  position:absolute;
  left:357px;
  top:243px;
  width:57px;
  height:16px;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4212 {
  position:absolute;
  left:500px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4213 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4214 {
  position:absolute;
  left:357px;
  top:269px;
  width:57px;
  height:16px;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4216 {
  position:absolute;
  left:600px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4218 {
  position:absolute;
  left:357px;
  top:295px;
  width:57px;
  height:16px;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4220 {
  position:absolute;
  left:522px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4221 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4223 {
  position:absolute;
  left:340px;
  top:89px;
  width:320px;
  height:58px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4225 {
  position:absolute;
  left:482px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4227 {
  position:absolute;
  left:447px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4228 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4229 {
  position:absolute;
  left:47px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4230 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4231 {
  position:absolute;
  left:377px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4232 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
