body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3929 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u3933 {
  position:absolute;
  left:10px;
  top:79px;
  width:320px;
  height:170px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3938 {
  position:absolute;
  left:10px;
  top:249px;
  width:320px;
  height:47px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3940 {
  position:absolute;
  left:244px;
  top:257px;
  width:78px;
  height:32px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3942 {
  position:absolute;
  left:23px;
  top:265px;
  width:131px;
  height:16px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3944 {
  position:absolute;
  left:10px;
  top:466px;
  width:320px;
  height:112px;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3946 {
  position:absolute;
  left:10px;
  top:440px;
  width:57px;
  height:16px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u3948 {
  position:absolute;
  left:10px;
  top:39px;
  width:55px;
  height:38px;
  font-size:36px;
  text-align:center;
}
#u3949 {
  position:absolute;
  left:0px;
  top:-2px;
  width:55px;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3950 {
  position:absolute;
  left:1000px;
  top:9px;
  width:320px;
  height:569px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3952 {
  position:absolute;
  left:670px;
  top:9px;
  width:320px;
  height:569px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3954 {
  position:absolute;
  left:340px;
  top:9px;
  width:320px;
  height:569px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957 {
  position:absolute;
  left:10px;
  top:306px;
  width:320px;
  height:47px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u3959 {
  position:absolute;
  left:283px;
  top:317px;
  width:1px;
  height:24px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3961 {
  position:absolute;
  left:297px;
  top:322px;
  width:15px;
  height:15px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u3963 {
  position:absolute;
  left:23px;
  top:322px;
  width:106px;
  height:16px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
