body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2571 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2573 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2575 {
  position:absolute;
  left:20px;
  top:238px;
  width:300px;
  height:40px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2579 {
  position:absolute;
  left:18px;
  top:115px;
  width:302px;
  height:44px;
}
#u2580 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2581 {
  position:absolute;
  left:28px;
  top:129px;
  width:71px;
  height:16px;
}
#u2582 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u2583 {
  position:absolute;
  left:196px;
  top:129px;
  width:113px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u2584 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  position:absolute;
  left:18px;
  top:159px;
  width:302px;
  height:44px;
}
#u2587 {
  position:absolute;
  left:2px;
  top:14px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2588 {
  position:absolute;
  left:28px;
  top:173px;
  width:113px;
  height:16px;
}
#u2589 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u2590 {
  position:absolute;
  left:196px;
  top:173px;
  width:113px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u2591 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2592 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u2593 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2594 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2595 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2596 {
  position:absolute;
  left:18px;
  top:213px;
  width:198px;
  height:15px;
  font-size:12px;
}
#u2597 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
