body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u99 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:49px;
  font-size:18px;
}
#u101 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u103 {
  position:absolute;
  left:27px;
  top:91px;
  width:49px;
  height:49px;
}
#u104 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u105 {
  position:absolute;
  left:103px;
  top:91px;
  width:49px;
  height:49px;
}
#u106 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u107 {
  position:absolute;
  left:178px;
  top:91px;
  width:49px;
  height:49px;
}
#u108 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u109 {
  position:absolute;
  left:254px;
  top:91px;
  width:49px;
  height:49px;
}
#u110 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u112 {
  position:absolute;
  left:27px;
  top:163px;
  width:49px;
  height:49px;
}
#u113 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u114 {
  position:absolute;
  left:103px;
  top:163px;
  width:49px;
  height:49px;
}
#u115 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u116 {
  position:absolute;
  left:178px;
  top:163px;
  width:49px;
  height:49px;
}
#u117 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u118 {
  position:absolute;
  left:254px;
  top:163px;
  width:49px;
  height:49px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u120 {
  position:absolute;
  left:27px;
  top:234px;
  width:49px;
  height:49px;
}
#u121 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u122 {
  position:absolute;
  left:103px;
  top:234px;
  width:49px;
  height:49px;
}
#u123 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:99px;
  top:283px;
  width:57px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u126_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u126 {
  position:absolute;
  left:138px;
  top:212px;
  width:30px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:52px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:790px;
  top:14px;
  width:150px;
  height:52px;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u131 {
  position:absolute;
  left:760px;
  top:14px;
  width:30px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:52px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:790px;
  top:76px;
  width:150px;
  height:52px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u136 {
  position:absolute;
  left:760px;
  top:76px;
  width:30px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u138 {
  position:absolute;
  left:120px;
  top:569px;
  width:84px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:58px;
  background:inherit;
  background-color:rgba(229, 0, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:790px;
  top:138px;
  width:150px;
  height:58px;
  font-size:16px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u143 {
  position:absolute;
  left:760px;
  top:138px;
  width:30px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:330px;
  top:58px;
  width:375px;
  height:667px;
}
#u146 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(229, 0, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:330px;
  top:0px;
  width:375px;
  height:58px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u149 {
  position:absolute;
  left:497px;
  top:27px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u152 {
  position:absolute;
  left:330px;
  top:58px;
  width:375px;
  height:34px;
  font-size:11px;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u154 {
  position:absolute;
  left:462px;
  top:67px;
  width:17px;
  height:17px;
}
#u155 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u156 {
  position:absolute;
  left:473px;
  top:24px;
  width:21px;
  height:24px;
}
#u157 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  position:absolute;
  left:330px;
  top:95px;
  width:375px;
  height:138px;
}
#u160 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:73px;
}
#u161 {
  position:absolute;
  left:340px;
  top:104px;
  width:101px;
  height:73px;
}
#u162 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u163 {
  position:absolute;
  left:450px;
  top:106px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u165 {
  position:absolute;
  left:450px;
  top:131px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u167 {
  position:absolute;
  left:450px;
  top:189px;
  width:245px;
  height:1px;
}
#u168 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:450px;
  top:213px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u171 {
  position:absolute;
  left:471px;
  top:195px;
  width:74px;
  height:13px;
  font-size:10px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u173 {
  position:absolute;
  left:471px;
  top:213px;
  width:108px;
  height:13px;
  font-size:10px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:450px;
  top:196px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u178 {
  position:absolute;
  left:450px;
  top:154px;
  width:14px;
  height:21px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u180 {
  position:absolute;
  left:470px;
  top:158px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u182 {
  position:absolute;
  left:484px;
  top:677px;
  width:57px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u184 {
  position:absolute;
  left:350px;
  top:29px;
  width:11px;
  height:18px;
}
#u185 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u186 {
  position:absolute;
  left:376px;
  top:4px;
  width:30px;
  height:40px;
}
#u187 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u188 {
  position:absolute;
  left:612px;
  top:150px;
  width:30px;
  height:40px;
}
#u189 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:330px;
  top:243px;
  width:375px;
  height:138px;
}
#u192 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:73px;
}
#u193 {
  position:absolute;
  left:340px;
  top:252px;
  width:101px;
  height:73px;
}
#u194 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u195 {
  position:absolute;
  left:450px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u197 {
  position:absolute;
  left:450px;
  top:279px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u199 {
  position:absolute;
  left:450px;
  top:337px;
  width:245px;
  height:1px;
}
#u200 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:450px;
  top:361px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u203 {
  position:absolute;
  left:471px;
  top:343px;
  width:74px;
  height:13px;
  font-size:10px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u205 {
  position:absolute;
  left:471px;
  top:361px;
  width:108px;
  height:13px;
  font-size:10px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u207 {
  position:absolute;
  left:450px;
  top:344px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u208 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u210 {
  position:absolute;
  left:450px;
  top:302px;
  width:14px;
  height:21px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u212 {
  position:absolute;
  left:470px;
  top:306px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:330px;
  top:391px;
  width:375px;
  height:138px;
}
#u216 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:73px;
}
#u217 {
  position:absolute;
  left:340px;
  top:400px;
  width:101px;
  height:73px;
}
#u218 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u219 {
  position:absolute;
  left:450px;
  top:402px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u221 {
  position:absolute;
  left:450px;
  top:427px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u223 {
  position:absolute;
  left:450px;
  top:485px;
  width:245px;
  height:1px;
}
#u224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u225 {
  position:absolute;
  left:450px;
  top:509px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u227 {
  position:absolute;
  left:471px;
  top:491px;
  width:74px;
  height:13px;
  font-size:10px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u229 {
  position:absolute;
  left:471px;
  top:509px;
  width:108px;
  height:13px;
  font-size:10px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:450px;
  top:492px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u232 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u234 {
  position:absolute;
  left:450px;
  top:450px;
  width:14px;
  height:21px;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u236 {
  position:absolute;
  left:470px;
  top:454px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:330px;
  top:539px;
  width:375px;
  height:138px;
}
#u240 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:73px;
}
#u241 {
  position:absolute;
  left:340px;
  top:548px;
  width:101px;
  height:73px;
}
#u242 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u243 {
  position:absolute;
  left:450px;
  top:550px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u245 {
  position:absolute;
  left:450px;
  top:575px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u247 {
  position:absolute;
  left:450px;
  top:633px;
  width:245px;
  height:1px;
}
#u248 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:450px;
  top:657px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u251 {
  position:absolute;
  left:471px;
  top:639px;
  width:74px;
  height:13px;
  font-size:10px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u253 {
  position:absolute;
  left:471px;
  top:657px;
  width:108px;
  height:13px;
  font-size:10px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
  background:inherit;
  background-color:rgba(253, 103, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u255 {
  position:absolute;
  left:450px;
  top:640px;
  width:14px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u256 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u258 {
  position:absolute;
  left:450px;
  top:598px;
  width:14px;
  height:21px;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u260 {
  position:absolute;
  left:470px;
  top:602px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:170px;
  background:inherit;
  background-color:rgba(199, 237, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:1391px;
  top:20px;
  width:1152px;
  height:170px;
}
#u263 {
  position:absolute;
  left:2px;
  top:77px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1107px;
  height:5px;
}
#u264 {
  position:absolute;
  left:294px;
  top:667px;
  width:1104px;
  height:2px;
}
#u265 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:170px;
  background:inherit;
  background-color:rgba(199, 237, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:254px;
  top:1746px;
  width:1152px;
  height:170px;
}
#u267 {
  position:absolute;
  left:2px;
  top:77px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u268 {
  position:absolute;
  left:670px;
  top:24px;
  width:25px;
  height:27px;
}
#u269 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
