body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1830 {
  position:absolute;
  left:844px;
  top:10px;
  width:320px;
  height:568px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1832 {
  position:absolute;
  left:844px;
  top:30px;
  width:320px;
  height:49px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1834 {
  position:absolute;
  left:857px;
  top:45px;
  width:12px;
  height:20px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1836 {
  position:absolute;
  left:879px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1838 {
  position:absolute;
  left:854px;
  top:354px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:844px;
  top:88px;
  width:320px;
  height:54px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:857px;
  top:107px;
  width:71px;
  height:16px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u1845 {
  position:absolute;
  left:1100px;
  top:103px;
  width:54px;
  height:24px;
  font-size:20px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:844px;
  top:236px;
  width:320px;
  height:44px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1850 {
  position:absolute;
  left:1134px;
  top:248px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:857px;
  top:250px;
  width:71px;
  height:16px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1854 {
  position:absolute;
  left:965px;
  top:578px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  position:absolute;
  left:844px;
  top:143px;
  width:320px;
  height:50px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:857px;
  top:160px;
  width:43px;
  height:16px;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1861 {
  position:absolute;
  left:910px;
  top:160px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1863 {
  position:absolute;
  left:1100px;
  top:160px;
  width:44px;
  height:16px;
  text-align:right;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u1865 {
  position:absolute;
  left:1148px;
  top:163px;
  width:6px;
  height:11px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:838px;
  top:136px;
  width:333px;
  height:65px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:844px;
  top:290px;
  width:320px;
  height:54px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:857px;
  top:309px;
  width:71px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1874 {
  position:absolute;
  left:1111px;
  top:305px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:463px;
  top:10px;
  width:320px;
  height:568px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:463px;
  top:30px;
  width:320px;
  height:49px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1882 {
  position:absolute;
  left:476px;
  top:45px;
  width:12px;
  height:20px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1884 {
  position:absolute;
  left:498px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1886 {
  position:absolute;
  left:473px;
  top:368px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1889 {
  position:absolute;
  left:463px;
  top:275px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:743px;
  top:302px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u1892 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1894 {
  position:absolute;
  left:463px;
  top:89px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u1895 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:743px;
  top:116px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u1897 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1899 {
  position:absolute;
  left:463px;
  top:182px;
  width:320px;
  height:83px;
  font-size:28px;
  color:#FFFFFF;
}
#u1900 {
  position:absolute;
  left:10px;
  top:25px;
  width:300px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:743px;
  top:209px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FF0000;
}
#u1902 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:152px;
  height:31px;
}
#u1903 {
  position:absolute;
  left:326px;
  top:165px;
  width:137px;
  height:5px;
  color:#FF0000;
}
#u1904 {
  position:absolute;
  left:2px;
  top:-6px;
  width:133px;
  word-wrap:break-word;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  position:absolute;
  left:16px;
  top:10px;
  width:320px;
  height:568px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:16px;
  top:30px;
  width:320px;
  height:49px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1909 {
  position:absolute;
  left:29px;
  top:45px;
  width:12px;
  height:20px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1911 {
  position:absolute;
  left:51px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1913 {
  position:absolute;
  left:26px;
  top:386px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:16px;
  top:88px;
  width:320px;
  height:54px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:29px;
  top:107px;
  width:71px;
  height:16px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u1920 {
  position:absolute;
  left:227px;
  top:107px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923 {
  position:absolute;
  left:16px;
  top:236px;
  width:320px;
  height:44px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1925 {
  position:absolute;
  left:306px;
  top:248px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:29px;
  top:250px;
  width:71px;
  height:16px;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1929 {
  position:absolute;
  left:137px;
  top:578px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:16px;
  top:143px;
  width:320px;
  height:50px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:29px;
  top:160px;
  width:43px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:82px;
  top:160px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1938 {
  position:absolute;
  left:273px;
  top:160px;
  width:43px;
  height:16px;
  text-align:right;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u1940 {
  position:absolute;
  left:320px;
  top:163px;
  width:6px;
  height:11px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:10px;
  top:136px;
  width:333px;
  height:65px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:16px;
  top:281px;
  width:320px;
  height:54px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:29px;
  top:300px;
  width:71px;
  height:16px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1949 {
  position:absolute;
  left:283px;
  top:296px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:844px;
  top:600px;
  width:320px;
  height:568px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:844px;
  top:620px;
  width:320px;
  height:49px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1956 {
  position:absolute;
  left:857px;
  top:635px;
  width:12px;
  height:20px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1958 {
  position:absolute;
  left:879px;
  top:636px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1960 {
  position:absolute;
  left:854px;
  top:988px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:844px;
  top:678px;
  width:320px;
  height:54px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:857px;
  top:697px;
  width:71px;
  height:16px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u1967 {
  position:absolute;
  left:1100px;
  top:693px;
  width:54px;
  height:24px;
  font-size:20px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:844px;
  top:826px;
  width:320px;
  height:44px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1972 {
  position:absolute;
  left:1134px;
  top:838px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:857px;
  top:840px;
  width:155px;
  height:16px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1976 {
  position:absolute;
  left:965px;
  top:1168px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:844px;
  top:733px;
  width:320px;
  height:50px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:857px;
  top:750px;
  width:43px;
  height:16px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1983 {
  position:absolute;
  left:910px;
  top:750px;
  width:51px;
  height:16px;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1985 {
  position:absolute;
  left:1100px;
  top:750px;
  width:44px;
  height:16px;
  text-align:right;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u1987 {
  position:absolute;
  left:1148px;
  top:753px;
  width:6px;
  height:11px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:838px;
  top:726px;
  width:333px;
  height:65px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:24px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:844px;
  top:924px;
  width:320px;
  height:54px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  position:absolute;
  left:857px;
  top:943px;
  width:71px;
  height:16px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1996 {
  position:absolute;
  left:1111px;
  top:939px;
  width:43px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1999 {
  position:absolute;
  left:844px;
  top:870px;
  width:320px;
  height:44px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2001 {
  position:absolute;
  left:1134px;
  top:882px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:857px;
  top:884px;
  width:71px;
  height:16px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2005 {
  position:absolute;
  left:773px;
  top:388px;
  width:0px;
  height:0px;
}
#u2005_seg0 {
  position:absolute;
  left:-25px;
  top:-52px;
  width:120px;
  height:10px;
  -webkit-transform:rotate(127.064449629911deg);
  -moz-transform:rotate(127.064449629911deg);
  -ms-transform:rotate(127.064449629911deg);
  transform:rotate(127.064449629911deg);
}
#u2005_seg1 {
  position:absolute;
  left:57px;
  top:-101px;
  width:20px;
  height:20px;
}
#u2006 {
  position:absolute;
  left:-14px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007 {
  position:absolute;
  left:773px;
  top:388px;
  width:0px;
  height:0px;
}
#u2007_seg0 {
  position:absolute;
  left:-217px;
  top:244px;
  width:504px;
  height:8px;
  -webkit-transform:rotate(-98.1462738974785deg);
  -moz-transform:rotate(-98.1462738974785deg);
  -ms-transform:rotate(-98.1462738974785deg);
  transform:rotate(-98.1462738974785deg);
}
#u2007_seg1 {
  position:absolute;
  left:60px;
  top:481px;
  width:20px;
  height:20px;
}
#u2008 {
  position:absolute;
  left:-14px;
  top:240px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
