body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2517 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2521 {
  position:absolute;
  left:150px;
  top:48px;
  width:42px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2522 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:50px;
  background:inherit;
  background-color:rgba(197, 225, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2523 {
  position:absolute;
  left:10px;
  top:528px;
  width:107px;
  height:50px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2525 {
  position:absolute;
  left:117px;
  top:528px;
  width:107px;
  height:50px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u2527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2528 {
  position:absolute;
  left:10px;
  top:221px;
  width:320px;
  height:55px;
}
#u2529 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2530 {
  position:absolute;
  left:54px;
  top:241px;
  width:53px;
  height:16px;
  text-align:center;
}
#u2531 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2532 {
  position:absolute;
  left:243px;
  top:241px;
  width:53px;
  height:16px;
  text-align:center;
}
#u2533 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2535 {
  position:absolute;
  left:10px;
  top:166px;
  width:320px;
  height:55px;
}
#u2536 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2537 {
  position:absolute;
  left:53px;
  top:186px;
  width:53px;
  height:16px;
  text-align:center;
}
#u2538 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u2539 {
  position:absolute;
  left:267px;
  top:186px;
  width:8px;
  height:16px;
  text-align:center;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u2541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542 {
  position:absolute;
  left:10px;
  top:276px;
  width:320px;
  height:55px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2544 {
  position:absolute;
  left:55px;
  top:296px;
  width:53px;
  height:16px;
  text-align:center;
}
#u2545 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u2546 {
  position:absolute;
  left:243px;
  top:296px;
  width:46px;
  height:16px;
  text-align:center;
}
#u2547 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2548 {
  position:absolute;
  left:88px;
  top:108px;
  width:167px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u2550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2551 {
  position:absolute;
  left:10px;
  top:331px;
  width:320px;
  height:55px;
}
#u2552 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u2553 {
  position:absolute;
  left:69px;
  top:351px;
  width:40px;
  height:16px;
  text-align:center;
}
#u2554 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u2555 {
  position:absolute;
  left:245px;
  top:351px;
  width:42px;
  height:16px;
  text-align:center;
}
#u2556 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2557 {
  position:absolute;
  left:223px;
  top:528px;
  width:107px;
  height:50px;
  color:#000000;
}
#u2558 {
  position:absolute;
  left:2px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u2559_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u2559 {
  position:absolute;
  left:275px;
  top:124px;
  width:200px;
  height:5px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u2561 {
  position:absolute;
  left:485px;
  top:109px;
  width:150px;
  height:36px;
  color:#FFFFFF;
}
#u2562 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2563_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:279px;
}
#u2563 {
  position:absolute;
  left:346px;
  top:166px;
  width:4px;
  height:274px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:129px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:140px;
  height:31px;
}
#u2565 {
  position:absolute;
  left:350px;
  top:302px;
  width:125px;
  height:5px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u2567 {
  position:absolute;
  left:485px;
  top:285px;
  width:150px;
  height:68px;
  color:#FFFFFF;
}
#u2568 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
