body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2234 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2236 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u2238 {
  position:absolute;
  left:10px;
  top:79px;
  width:320px;
  height:170px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  position:absolute;
  left:10px;
  top:249px;
  width:320px;
  height:47px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2245 {
  position:absolute;
  left:244px;
  top:257px;
  width:78px;
  height:32px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#31BEAE;
}
#u2247 {
  position:absolute;
  left:23px;
  top:261px;
  width:43px;
  height:24px;
  font-size:20px;
  color:#31BEAE;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u2249 {
  position:absolute;
  left:76px;
  top:269px;
  width:95px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u2250 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2251 {
  position:absolute;
  left:10px;
  top:192px;
  width:320px;
  height:57px;
  opacity:0.6;
}
#u2252 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2253 {
  position:absolute;
  left:23px;
  top:200px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  position:absolute;
  left:23px;
  top:225px;
  width:215px;
  height:16px;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:10px;
  top:306px;
  width:320px;
  height:79px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u2261 {
  position:absolute;
  left:283px;
  top:334px;
  width:1px;
  height:24px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2263 {
  position:absolute;
  left:297px;
  top:339px;
  width:15px;
  height:15px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u2265 {
  position:absolute;
  left:23px;
  top:339px;
  width:90px;
  height:14px;
  font-size:11px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u2267 {
  position:absolute;
  left:23px;
  top:357px;
  width:14px;
  height:21px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u2269 {
  position:absolute;
  left:23px;
  top:316px;
  width:131px;
  height:16px;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u2271 {
  position:absolute;
  left:43px;
  top:361px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  position:absolute;
  left:10px;
  top:385px;
  width:320px;
  height:33px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u2276 {
  position:absolute;
  left:23px;
  top:395px;
  width:90px;
  height:14px;
  font-size:11px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:10px;
  top:454px;
  width:320px;
  height:207px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2280 {
  position:absolute;
  left:10px;
  top:428px;
  width:57px;
  height:16px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2282 {
  position:absolute;
  left:0px;
  top:577px;
  width:340px;
  height:1px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
