body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4316 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u4317 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4318 {
  position:absolute;
  left:10px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4319 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4320 {
  position:absolute;
  left:126px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4321 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4322 {
  position:absolute;
  left:29px;
  top:484px;
  width:80px;
  height:80px;
}
#u4323 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4324 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u4325 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4326 {
  position:absolute;
  left:138px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4327 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4328 {
  position:absolute;
  left:289px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4329 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4330 {
  position:absolute;
  left:10px;
  top:147px;
  width:320px;
  height:199px;
}
#u4331 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4333 {
  position:absolute;
  left:102px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4334 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4335 {
  position:absolute;
  left:218px;
  top:174px;
  width:15px;
  height:16px;
}
#u4336 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4338 {
  position:absolute;
  left:116px;
  top:195px;
  width:109px;
  height:16px;
}
#u4339 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4341 {
  position:absolute;
  left:27px;
  top:217px;
  width:57px;
  height:16px;
}
#u4342 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4343 {
  position:absolute;
  left:256px;
  top:217px;
  width:57px;
  height:16px;
  text-align:right;
}
#u4344 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4345 {
  position:absolute;
  left:27px;
  top:243px;
  width:57px;
  height:16px;
}
#u4346 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4347 {
  position:absolute;
  left:170px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4348 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4349 {
  position:absolute;
  left:27px;
  top:269px;
  width:57px;
  height:16px;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4351 {
  position:absolute;
  left:270px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4352 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4353 {
  position:absolute;
  left:27px;
  top:295px;
  width:57px;
  height:16px;
}
#u4354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4355 {
  position:absolute;
  left:192px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4356 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4357 {
  position:absolute;
  left:27px;
  top:321px;
  width:43px;
  height:16px;
}
#u4358 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4359 {
  position:absolute;
  left:264px;
  top:321px;
  width:49px;
  height:16px;
  text-align:right;
}
#u4360 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4362 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:58px;
}
#u4363 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4364 {
  position:absolute;
  left:152px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4365 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4366 {
  position:absolute;
  left:117px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4367 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4368 {
  position:absolute;
  left:340px;
  top:10px;
  width:320px;
  height:568px;
}
#u4369 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4370 {
  position:absolute;
  left:340px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4371 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4372 {
  position:absolute;
  left:456px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4373 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4374 {
  position:absolute;
  left:359px;
  top:484px;
  width:80px;
  height:80px;
}
#u4375 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4376 {
  position:absolute;
  left:340px;
  top:30px;
  width:320px;
  height:49px;
}
#u4377 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4378 {
  position:absolute;
  left:468px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4379 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4380 {
  position:absolute;
  left:619px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4381 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4383 {
  position:absolute;
  left:340px;
  top:147px;
  width:320px;
  height:199px;
}
#u4384 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4386 {
  position:absolute;
  left:432px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4387 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4388 {
  position:absolute;
  left:554px;
  top:176px;
  width:15px;
  height:16px;
}
#u4389 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4391 {
  position:absolute;
  left:357px;
  top:217px;
  width:57px;
  height:16px;
}
#u4392 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4393 {
  position:absolute;
  left:536px;
  top:217px;
  width:107px;
  height:16px;
  text-align:right;
}
#u4394 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4395 {
  position:absolute;
  left:357px;
  top:243px;
  width:57px;
  height:16px;
}
#u4396 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4397 {
  position:absolute;
  left:500px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4398 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4399 {
  position:absolute;
  left:357px;
  top:269px;
  width:57px;
  height:16px;
}
#u4400 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4401 {
  position:absolute;
  left:600px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4402 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4403 {
  position:absolute;
  left:357px;
  top:295px;
  width:57px;
  height:16px;
}
#u4404 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4405 {
  position:absolute;
  left:522px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4406 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4408 {
  position:absolute;
  left:340px;
  top:89px;
  width:320px;
  height:58px;
}
#u4409 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4410 {
  position:absolute;
  left:482px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4411 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4412 {
  position:absolute;
  left:447px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4413 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4414 {
  position:absolute;
  left:47px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4415 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u4416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4416 {
  position:absolute;
  left:377px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4417 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
