body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2663 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2665 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u2666 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2667 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2668 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2669 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u2670 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2671 {
  position:absolute;
  left:117px;
  top:538px;
  width:107px;
  height:40px;
}
#u2672 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u2673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2673 {
  position:absolute;
  left:10px;
  top:538px;
  width:108px;
  height:40px;
  color:#FFFFFF;
}
#u2674 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2675 {
  position:absolute;
  left:223px;
  top:538px;
  width:107px;
  height:40px;
}
#u2676 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u2677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
}
#u2677 {
  position:absolute;
  left:150px;
  top:48px;
  width:42px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2678 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2679 {
  position:absolute;
  left:330px;
  top:79px;
  width:300px;
  height:170px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:61px;
  width:296px;
  word-wrap:break-word;
}
