body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:649px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:0px;
  top:18px;
  width:375px;
  height:649px;
  opacity:0.8;
}
#u680 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u682 {
  position:absolute;
  left:0px;
  top:376px;
  width:375px;
  height:28px;
  color:#666666;
}
#u683 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u685 {
  position:absolute;
  left:0px;
  top:602px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u686 {
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u687 {
  position:absolute;
  left:251px;
  top:602px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u688 {
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u689 {
  position:absolute;
  left:125px;
  top:602px;
  width:125px;
  height:65px;
  font-size:28px;
}
#u690 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u691 {
  position:absolute;
  left:305px;
  top:621px;
  width:16px;
  height:27px;
  font-size:28px;
}
#u692 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u693 {
  position:absolute;
  left:0px;
  top:536px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u694 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u695 {
  position:absolute;
  left:251px;
  top:536px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u696 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u697 {
  position:absolute;
  left:125px;
  top:536px;
  width:125px;
  height:65px;
  font-size:28px;
}
#u698 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u699 {
  position:absolute;
  left:0px;
  top:470px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u700 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u701 {
  position:absolute;
  left:251px;
  top:470px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u702 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u703 {
  position:absolute;
  left:125px;
  top:470px;
  width:125px;
  height:65px;
  font-size:28px;
}
#u704 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u705 {
  position:absolute;
  left:0px;
  top:404px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u706 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u707 {
  position:absolute;
  left:251px;
  top:404px;
  width:124px;
  height:65px;
  font-size:28px;
}
#u708 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u709 {
  position:absolute;
  left:125px;
  top:404px;
  width:125px;
  height:65px;
  font-size:28px;
}
#u710 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  position:absolute;
  left:47px;
  top:121px;
  width:281px;
  height:172px;
}
#u712 {
  position:absolute;
  left:2px;
  top:78px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u713 {
  position:absolute;
  left:71px;
  top:123px;
  width:233px;
  height:46px;
  font-size:18px;
}
#u714 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:2px;
}
#u715 {
  position:absolute;
  left:47px;
  top:168px;
  width:281px;
  height:1px;
}
#u716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:59px;
  top:196px;
  width:43px;
  height:43px;
}
#u719 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:102px;
  top:196px;
  width:43px;
  height:43px;
}
#u721 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  position:absolute;
  left:145px;
  top:196px;
  width:43px;
  height:43px;
}
#u723 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:188px;
  top:196px;
  width:43px;
  height:43px;
}
#u725 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:231px;
  top:196px;
  width:43px;
  height:43px;
}
#u727 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:274px;
  top:196px;
  width:43px;
  height:43px;
}
#u729 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u730 {
  position:absolute;
  left:300px;
  top:139px;
  width:14px;
  height:14px;
}
#u731 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u732 {
  position:absolute;
  left:60px;
  top:268px;
  width:255px;
  height:16px;
  color:#FF0000;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u734 {
  position:absolute;
  left:145px;
  top:252px;
  width:85px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u737 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:420px;
  top:123px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
