body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2680 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2682 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2685 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:57px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2687 {
  position:absolute;
  left:23px;
  top:108px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u2688 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2689 {
  position:absolute;
  left:277px;
  top:108px;
  width:35px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2690 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692 {
  position:absolute;
  left:10px;
  top:146px;
  width:320px;
  height:57px;
}
#u2693 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2694 {
  position:absolute;
  left:23px;
  top:165px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2696 {
  position:absolute;
  left:212px;
  top:159px;
  width:100px;
  height:31px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2699_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u2699 {
  position:absolute;
  left:287px;
  top:173px;
  width:15px;
  height:3px;
}
#u2700 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2701_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:18px;
}
#u2701 {
  position:absolute;
  left:293px;
  top:167px;
  width:3px;
  height:15px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2703_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u2703 {
  position:absolute;
  left:223px;
  top:173px;
  width:15px;
  height:3px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2705 {
  position:absolute;
  left:246px;
  top:159px;
  width:34px;
  height:31px;
  font-size:16px;
}
#u2706 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u2707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2708 {
  position:absolute;
  left:10px;
  top:203px;
  width:320px;
  height:57px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2710 {
  position:absolute;
  left:23px;
  top:222px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u2712 {
  position:absolute;
  left:277px;
  top:222px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u2713 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2714 {
  position:absolute;
  left:20px;
  top:270px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
