body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u834 {
  position:absolute;
  left:115px;
  top:568px;
  width:113px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:548px;
  opacity:0.8;
}
#u838 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u842 {
  position:absolute;
  left:10px;
  top:503px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u843 {
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u844 {
  position:absolute;
  left:224px;
  top:503px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u845 {
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u846 {
  position:absolute;
  left:117px;
  top:503px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u847 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u848 {
  position:absolute;
  left:271px;
  top:521px;
  width:12px;
  height:20px;
  font-size:28px;
}
#u849 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u851 {
  position:absolute;
  left:10px;
  top:447px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u852 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u853 {
  position:absolute;
  left:224px;
  top:447px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u854 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u855 {
  position:absolute;
  left:117px;
  top:447px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u856 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u858 {
  position:absolute;
  left:10px;
  top:391px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u859 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u860 {
  position:absolute;
  left:224px;
  top:391px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u861 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u862 {
  position:absolute;
  left:117px;
  top:391px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u863 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u865 {
  position:absolute;
  left:10px;
  top:335px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u866 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u867 {
  position:absolute;
  left:224px;
  top:335px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u868 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u869 {
  position:absolute;
  left:117px;
  top:335px;
  width:106px;
  height:55px;
  font-size:28px;
}
#u870 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u871 {
  position:absolute;
  left:10px;
  top:311px;
  width:320px;
  height:24px;
  color:#666666;
}
#u872 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:50px;
  top:97px;
  width:240px;
  height:132px;
}
#u875 {
  position:absolute;
  left:2px;
  top:58px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u876 {
  position:absolute;
  left:71px;
  top:98px;
  width:199px;
  height:39px;
  font-size:18px;
}
#u877 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u878 {
  position:absolute;
  left:50px;
  top:136px;
  width:240px;
  height:1px;
}
#u879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:62px;
  top:160px;
  width:37px;
  height:37px;
}
#u882 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:98px;
  top:160px;
  width:37px;
  height:37px;
}
#u884 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:134px;
  top:160px;
  width:37px;
  height:37px;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:170px;
  top:160px;
  width:37px;
  height:37px;
}
#u888 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:205px;
  top:160px;
  width:37px;
  height:37px;
}
#u890 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:241px;
  top:160px;
  width:37px;
  height:37px;
}
#u892 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:223px;
  top:203px;
  width:57px;
  height:20px;
}
#u894 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u895 {
  position:absolute;
  left:266px;
  top:112px;
  width:12px;
  height:12px;
}
#u896 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
