body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1453 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1455 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1457 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1458 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:57px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:23px;
  top:108px;
  width:233px;
  height:19px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u1464 {
  position:absolute;
  left:277px;
  top:108px;
  width:35px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1467 {
  position:absolute;
  left:10px;
  top:146px;
  width:320px;
  height:57px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1469 {
  position:absolute;
  left:23px;
  top:165px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1471 {
  position:absolute;
  left:212px;
  top:159px;
  width:100px;
  height:31px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1474_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u1474 {
  position:absolute;
  left:287px;
  top:173px;
  width:15px;
  height:3px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:18px;
}
#u1476 {
  position:absolute;
  left:293px;
  top:167px;
  width:3px;
  height:15px;
}
#u1477 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u1478 {
  position:absolute;
  left:223px;
  top:173px;
  width:15px;
  height:3px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1480 {
  position:absolute;
  left:246px;
  top:159px;
  width:34px;
  height:31px;
  font-size:16px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  position:absolute;
  left:10px;
  top:203px;
  width:320px;
  height:57px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1485 {
  position:absolute;
  left:23px;
  top:222px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1487 {
  position:absolute;
  left:277px;
  top:222px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1489 {
  position:absolute;
  left:20px;
  top:270px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
