body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4520 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u4521 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4522 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u4523 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u4524 {
  position:absolute;
  left:10px;
  top:79px;
  width:320px;
  height:170px;
}
#u4525 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4529 {
  position:absolute;
  left:10px;
  top:249px;
  width:320px;
  height:47px;
}
#u4530 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4531 {
  position:absolute;
  left:244px;
  top:257px;
  width:78px;
  height:32px;
}
#u4532 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u4533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u4533 {
  position:absolute;
  left:23px;
  top:265px;
  width:131px;
  height:16px;
}
#u4534 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4535 {
  position:absolute;
  left:10px;
  top:466px;
  width:320px;
  height:112px;
}
#u4536 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4537 {
  position:absolute;
  left:10px;
  top:440px;
  width:57px;
  height:16px;
}
#u4538 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u4539 {
  position:absolute;
  left:10px;
  top:39px;
  width:55px;
  height:38px;
  font-size:36px;
  text-align:center;
}
#u4540 {
  position:absolute;
  left:0px;
  top:-2px;
  width:55px;
  word-wrap:break-word;
}
#u4541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4541 {
  position:absolute;
  left:1000px;
  top:9px;
  width:320px;
  height:569px;
}
#u4542 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4543 {
  position:absolute;
  left:670px;
  top:9px;
  width:320px;
  height:569px;
}
#u4544 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4545 {
  position:absolute;
  left:340px;
  top:9px;
  width:320px;
  height:569px;
}
#u4546 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4547 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4548 {
  position:absolute;
  left:10px;
  top:306px;
  width:320px;
  height:47px;
}
#u4549 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u4550 {
  position:absolute;
  left:283px;
  top:317px;
  width:1px;
  height:24px;
}
#u4551 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4552 {
  position:absolute;
  left:297px;
  top:322px;
  width:15px;
  height:15px;
}
#u4553 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u4554 {
  position:absolute;
  left:23px;
  top:322px;
  width:106px;
  height:16px;
}
#u4555 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
