body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4126 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u4130 {
  position:absolute;
  left:10px;
  top:79px;
  width:320px;
  height:170px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  position:absolute;
  left:10px;
  top:249px;
  width:320px;
  height:47px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:244px;
  top:257px;
  width:78px;
  height:32px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u4139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u4139 {
  position:absolute;
  left:23px;
  top:265px;
  width:131px;
  height:16px;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4141 {
  position:absolute;
  left:10px;
  top:466px;
  width:320px;
  height:112px;
}
#u4142 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  position:absolute;
  left:10px;
  top:440px;
  width:57px;
  height:16px;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u4145 {
  position:absolute;
  left:10px;
  top:39px;
  width:55px;
  height:38px;
  font-size:36px;
  text-align:center;
}
#u4146 {
  position:absolute;
  left:0px;
  top:-2px;
  width:55px;
  word-wrap:break-word;
}
#u4147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4147 {
  position:absolute;
  left:1000px;
  top:9px;
  width:320px;
  height:569px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4149 {
  position:absolute;
  left:670px;
  top:9px;
  width:320px;
  height:569px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u4151 {
  position:absolute;
  left:340px;
  top:9px;
  width:320px;
  height:569px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  position:absolute;
  left:10px;
  top:306px;
  width:320px;
  height:47px;
}
#u4155 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u4156 {
  position:absolute;
  left:283px;
  top:317px;
  width:1px;
  height:24px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4158 {
  position:absolute;
  left:297px;
  top:322px;
  width:15px;
  height:15px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u4160 {
  position:absolute;
  left:23px;
  top:322px;
  width:106px;
  height:16px;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
