body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3001 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3003 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:170px;
  background:inherit;
  background-color:rgba(199, 237, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3005 {
  position:absolute;
  left:74px;
  top:120px;
  width:193px;
  height:170px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:77px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u3007 {
  position:absolute;
  left:10px;
  top:39px;
  width:55px;
  height:38px;
  font-size:36px;
  text-align:center;
}
#u3008 {
  position:absolute;
  left:0px;
  top:-2px;
  width:55px;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:131px;
}
#u3009 {
  position:absolute;
  left:80px;
  top:129px;
  width:168px;
  height:130px;
  opacity:0.2;
}
#u3010 {
  position:absolute;
  left:2px;
  top:57px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3011 {
  position:absolute;
  left:142px;
  top:142px;
  width:57px;
  height:16px;
}
#u3012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3013_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u3013 {
  position:absolute;
  left:248px;
  top:89px;
  width:30px;
  height:40px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u3015 {
  position:absolute;
  left:481px;
  top:46px;
  width:150px;
  height:150px;
  color:#FFFFFF;
}
#u3016 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3017 {
  position:absolute;
  left:422px;
  top:49px;
  width:30px;
  height:30px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
