body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2468 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2470 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
}
#u2472 {
  position:absolute;
  left:150px;
  top:48px;
  width:42px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2473 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2475 {
  position:absolute;
  left:21px;
  top:92px;
  width:300px;
  height:55px;
}
#u2476 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2477 {
  position:absolute;
  left:39px;
  top:112px;
  width:57px;
  height:16px;
}
#u2478 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2479 {
  position:absolute;
  left:113px;
  top:101px;
  width:208px;
  height:38px;
}
#u2479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:38px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2481 {
  position:absolute;
  left:21px;
  top:147px;
  width:300px;
  height:55px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483 {
  position:absolute;
  left:39px;
  top:167px;
  width:43px;
  height:16px;
}
#u2484 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2485 {
  position:absolute;
  left:113px;
  top:156px;
  width:106px;
  height:37px;
}
#u2485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2486 {
  position:absolute;
  left:229px;
  top:157px;
  width:84px;
  height:36px;
}
#u2487 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2488 {
  position:absolute;
  left:21px;
  top:212px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
