body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4034 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u4035 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4036 {
  position:absolute;
  left:10px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4037 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4038 {
  position:absolute;
  left:126px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4040 {
  position:absolute;
  left:29px;
  top:484px;
  width:80px;
  height:80px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4044 {
  position:absolute;
  left:138px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4046 {
  position:absolute;
  left:289px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4047 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:10px;
  top:147px;
  width:320px;
  height:199px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4051 {
  position:absolute;
  left:102px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4053 {
  position:absolute;
  left:218px;
  top:174px;
  width:15px;
  height:16px;
}
#u4054 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4056 {
  position:absolute;
  left:145px;
  top:195px;
  width:51px;
  height:16px;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u4058 {
  position:absolute;
  left:159px;
  top:203px;
  width:37px;
  height:1px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:27px;
  top:217px;
  width:57px;
  height:16px;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4063 {
  position:absolute;
  left:206px;
  top:217px;
  width:107px;
  height:16px;
  text-align:right;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:27px;
  top:243px;
  width:57px;
  height:16px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4067 {
  position:absolute;
  left:170px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:27px;
  top:269px;
  width:57px;
  height:16px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4071 {
  position:absolute;
  left:270px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4073 {
  position:absolute;
  left:27px;
  top:295px;
  width:57px;
  height:16px;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4075 {
  position:absolute;
  left:192px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4078 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:58px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4080 {
  position:absolute;
  left:152px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4082 {
  position:absolute;
  left:117px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4083 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4084 {
  position:absolute;
  left:340px;
  top:10px;
  width:320px;
  height:568px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u4086 {
  position:absolute;
  left:340px;
  top:469px;
  width:320px;
  height:109px;
  color:#0000FF;
}
#u4087 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4088 {
  position:absolute;
  left:456px;
  top:516px;
  width:181px;
  height:16px;
  text-align:center;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4090 {
  position:absolute;
  left:359px;
  top:484px;
  width:80px;
  height:80px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  position:absolute;
  left:340px;
  top:30px;
  width:320px;
  height:49px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4094 {
  position:absolute;
  left:468px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4095 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4096 {
  position:absolute;
  left:619px;
  top:45px;
  width:31px;
  height:20px;
  text-align:right;
}
#u4097 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4099 {
  position:absolute;
  left:340px;
  top:147px;
  width:320px;
  height:199px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4102 {
  position:absolute;
  left:432px;
  top:147px;
  width:137px;
  height:60px;
  font-size:36px;
}
#u4103 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4104 {
  position:absolute;
  left:551px;
  top:176px;
  width:15px;
  height:16px;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4107 {
  position:absolute;
  left:357px;
  top:217px;
  width:57px;
  height:16px;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4109 {
  position:absolute;
  left:536px;
  top:217px;
  width:107px;
  height:16px;
  text-align:right;
}
#u4110 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4111 {
  position:absolute;
  left:357px;
  top:243px;
  width:57px;
  height:16px;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4113 {
  position:absolute;
  left:500px;
  top:243px;
  width:143px;
  height:16px;
  text-align:right;
}
#u4114 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4115 {
  position:absolute;
  left:357px;
  top:269px;
  width:57px;
  height:16px;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4117 {
  position:absolute;
  left:600px;
  top:269px;
  width:43px;
  height:16px;
  text-align:right;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:357px;
  top:295px;
  width:57px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4121 {
  position:absolute;
  left:522px;
  top:295px;
  width:121px;
  height:16px;
  text-align:right;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4124 {
  position:absolute;
  left:340px;
  top:89px;
  width:320px;
  height:58px;
}
#u4125 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4126 {
  position:absolute;
  left:482px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4128 {
  position:absolute;
  left:447px;
  top:105px;
  width:25px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FD6767;
}
#u4129 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4130 {
  position:absolute;
  left:47px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4132 {
  position:absolute;
  left:377px;
  top:583px;
  width:247px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
