body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1523 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1525 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:69px;
  color:#FFFFFF;
}
#u1526 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1527 {
  position:absolute;
  left:100px;
  top:44px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1528 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(199, 99, 123, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1529 {
  position:absolute;
  left:10px;
  top:79px;
  width:160px;
  height:34px;
  color:#FFFFFF;
}
#u1530 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1531 {
  position:absolute;
  left:175px;
  top:37px;
  width:148px;
  height:34px;
  font-size:11px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1533 {
  position:absolute;
  left:76px;
  top:42px;
  width:21px;
  height:24px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1535 {
  position:absolute;
  left:199px;
  top:47px;
  width:15px;
  height:15px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1537 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:170px;
  top:79px;
  width:160px;
  height:34px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1541 {
  position:absolute;
  left:10px;
  top:123px;
  width:320px;
  height:87px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1543 {
  position:absolute;
  left:29px;
  top:132px;
  width:42px;
  height:42px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1545 {
  position:absolute;
  left:81px;
  top:132px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1547 {
  position:absolute;
  left:81px;
  top:154px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1549 {
  position:absolute;
  left:340px;
  top:10px;
  width:320px;
  height:568px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1551 {
  position:absolute;
  left:340px;
  top:10px;
  width:320px;
  height:69px;
  color:#FFFFFF;
}
#u1552 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1553 {
  position:absolute;
  left:430px;
  top:44px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(199, 99, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(199, 99, 123, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1555 {
  position:absolute;
  left:340px;
  top:79px;
  width:160px;
  height:34px;
  color:#FFFFFF;
}
#u1556 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1557 {
  position:absolute;
  left:505px;
  top:37px;
  width:148px;
  height:34px;
  font-size:11px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1559 {
  position:absolute;
  left:406px;
  top:42px;
  width:21px;
  height:24px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1561 {
  position:absolute;
  left:529px;
  top:47px;
  width:15px;
  height:15px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1563 {
  position:absolute;
  left:353px;
  top:45px;
  width:12px;
  height:20px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1565 {
  position:absolute;
  left:500px;
  top:79px;
  width:160px;
  height:34px;
}
#u1566 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1567 {
  position:absolute;
  left:108px;
  top:578px;
  width:127px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1568 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1569 {
  position:absolute;
  left:423px;
  top:578px;
  width:155px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1570 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1571 {
  position:absolute;
  left:81px;
  top:172px;
  width:47px;
  height:16px;
  font-size:13px;
}
#u1572 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1573 {
  position:absolute;
  left:81px;
  top:190px;
  width:67px;
  height:16px;
  font-size:13px;
}
#u1574 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1575 {
  position:absolute;
  left:268px;
  top:183px;
  width:57px;
  height:20px;
}
#u1576 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C7637B;
}
#u1577 {
  position:absolute;
  left:275px;
  top:132px;
  width:44px;
  height:20px;
  color:#C7637B;
}
#u1578 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1579 {
  position:absolute;
  left:444px;
  top:245px;
  width:113px;
  height:113px;
  font-size:72px;
}
#u1580 {
  position:absolute;
  left:2px;
  top:15px;
  width:109px;
  word-wrap:break-word;
}
#u1581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1581 {
  position:absolute;
  left:440px;
  top:368px;
  width:122px;
  height:20px;
}
#u1582 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
