body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:259px;
  top:25px;
  width:100px;
  height:60px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:163px;
  top:105px;
  width:100px;
  height:60px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  position:absolute;
  left:80px;
  top:185px;
  width:100px;
  height:60px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4003_ref {
  position:absolute;
  left:172px;
  top:235px;
  width:1px;
  height:1px;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:80px;
  top:265px;
  width:100px;
  height:60px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4005_ref {
  position:absolute;
  left:172px;
  top:315px;
  width:1px;
  height:1px;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:25px;
  top:345px;
  width:100px;
  height:60px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4007_ref {
  position:absolute;
  left:117px;
  top:395px;
  width:1px;
  height:1px;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:25px;
  top:425px;
  width:100px;
  height:60px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4009_ref {
  position:absolute;
  left:117px;
  top:475px;
  width:1px;
  height:1px;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4011 {
  position:absolute;
  left:25px;
  top:505px;
  width:100px;
  height:60px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4013 {
  position:absolute;
  left:135px;
  top:345px;
  width:100px;
  height:60px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4013_ref {
  position:absolute;
  left:227px;
  top:395px;
  width:1px;
  height:1px;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4015 {
  position:absolute;
  left:135px;
  top:425px;
  width:100px;
  height:60px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4015_ref {
  position:absolute;
  left:227px;
  top:475px;
  width:1px;
  height:1px;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4017 {
  position:absolute;
  left:135px;
  top:505px;
  width:100px;
  height:60px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:-10px;
  width:96px;
  word-wrap:break-word;
}
#u4017_ref {
  position:absolute;
  left:227px;
  top:555px;
  width:1px;
  height:1px;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4019 {
  position:absolute;
  left:135px;
  top:585px;
  width:100px;
  height:60px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4019_ref {
  position:absolute;
  left:227px;
  top:635px;
  width:1px;
  height:1px;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4021 {
  position:absolute;
  left:135px;
  top:665px;
  width:100px;
  height:60px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4021_ref {
  position:absolute;
  left:227px;
  top:715px;
  width:1px;
  height:1px;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4023 {
  position:absolute;
  left:135px;
  top:745px;
  width:100px;
  height:60px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4023_ref {
  position:absolute;
  left:227px;
  top:795px;
  width:1px;
  height:1px;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:245px;
  top:185px;
  width:100px;
  height:60px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4025_ref {
  position:absolute;
  left:337px;
  top:235px;
  width:1px;
  height:1px;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4027 {
  position:absolute;
  left:245px;
  top:265px;
  width:100px;
  height:60px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4027_ref {
  position:absolute;
  left:337px;
  top:315px;
  width:1px;
  height:1px;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  position:absolute;
  left:245px;
  top:345px;
  width:100px;
  height:60px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4029_ref {
  position:absolute;
  left:337px;
  top:395px;
  width:1px;
  height:1px;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031 {
  position:absolute;
  left:245px;
  top:425px;
  width:100px;
  height:60px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4031_ref {
  position:absolute;
  left:337px;
  top:475px;
  width:1px;
  height:1px;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  position:absolute;
  left:355px;
  top:105px;
  width:100px;
  height:60px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  position:absolute;
  left:355px;
  top:185px;
  width:100px;
  height:60px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4035_ref {
  position:absolute;
  left:447px;
  top:235px;
  width:1px;
  height:1px;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:355px;
  top:265px;
  width:100px;
  height:60px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4037_ref {
  position:absolute;
  left:447px;
  top:315px;
  width:1px;
  height:1px;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  position:absolute;
  left:355px;
  top:345px;
  width:100px;
  height:60px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4039_ref {
  position:absolute;
  left:447px;
  top:395px;
  width:1px;
  height:1px;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:355px;
  top:425px;
  width:100px;
  height:60px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4041_ref {
  position:absolute;
  left:447px;
  top:475px;
  width:1px;
  height:1px;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:355px;
  top:505px;
  width:100px;
  height:60px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4043_ref {
  position:absolute;
  left:447px;
  top:555px;
  width:1px;
  height:1px;
}
#u4045 {
  position:absolute;
  left:309px;
  top:85px;
  width:0px;
  height:0px;
}
#u4045_seg0 {
  position:absolute;
  left:-99px;
  top:5px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(-11.7682889320206deg);
  -moz-transform:rotate(-11.7682889320206deg);
  -ms-transform:rotate(-11.7682889320206deg);
  transform:rotate(-11.7682889320206deg);
}
#u4045_seg1 {
  position:absolute;
  left:-102px;
  top:8px;
  width:20px;
  height:20px;
}
#u4046 {
  position:absolute;
  left:-98px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047 {
  position:absolute;
  left:213px;
  top:165px;
  width:0px;
  height:0px;
}
#u4047_seg0 {
  position:absolute;
  left:-85px;
  top:5px;
  width:88px;
  height:10px;
  -webkit-transform:rotate(-13.5479389880005deg);
  -moz-transform:rotate(-13.5479389880005deg);
  -ms-transform:rotate(-13.5479389880005deg);
  transform:rotate(-13.5479389880005deg);
}
#u4047_seg1 {
  position:absolute;
  left:-89px;
  top:8px;
  width:20px;
  height:20px;
}
#u4048 {
  position:absolute;
  left:-91px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049 {
  position:absolute;
  left:130px;
  top:245px;
  width:0px;
  height:0px;
}
#u4049_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4049_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4050 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051 {
  position:absolute;
  left:130px;
  top:325px;
  width:0px;
  height:0px;
}
#u4051_seg0 {
  position:absolute;
  left:-58px;
  top:5px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(-19.9831065219deg);
  -moz-transform:rotate(-19.9831065219deg);
  -ms-transform:rotate(-19.9831065219deg);
  transform:rotate(-19.9831065219deg);
}
#u4051_seg1 {
  position:absolute;
  left:-61px;
  top:8px;
  width:20px;
  height:20px;
}
#u4052 {
  position:absolute;
  left:-77px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053 {
  position:absolute;
  left:75px;
  top:405px;
  width:0px;
  height:0px;
}
#u4053_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4053_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4054 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055 {
  position:absolute;
  left:75px;
  top:485px;
  width:0px;
  height:0px;
}
#u4055_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4055_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4056 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057 {
  position:absolute;
  left:130px;
  top:325px;
  width:0px;
  height:0px;
}
#u4057_seg0 {
  position:absolute;
  left:-2px;
  top:5px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(-160.0168934781deg);
  -moz-transform:rotate(-160.0168934781deg);
  -ms-transform:rotate(-160.0168934781deg);
  transform:rotate(-160.0168934781deg);
}
#u4057_seg1 {
  position:absolute;
  left:40px;
  top:8px;
  width:20px;
  height:20px;
}
#u4058 {
  position:absolute;
  left:-22px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059 {
  position:absolute;
  left:185px;
  top:405px;
  width:0px;
  height:0px;
}
#u4059_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4059_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4060 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061 {
  position:absolute;
  left:185px;
  top:485px;
  width:0px;
  height:0px;
}
#u4061_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4061_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4062 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063 {
  position:absolute;
  left:185px;
  top:565px;
  width:0px;
  height:0px;
}
#u4063_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4063_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4064 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065 {
  position:absolute;
  left:185px;
  top:645px;
  width:0px;
  height:0px;
}
#u4065_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4065_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4066 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067 {
  position:absolute;
  left:185px;
  top:725px;
  width:0px;
  height:0px;
}
#u4067_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4067_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4068 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069 {
  position:absolute;
  left:213px;
  top:165px;
  width:0px;
  height:0px;
}
#u4069_seg0 {
  position:absolute;
  left:-3px;
  top:5px;
  width:88px;
  height:10px;
  -webkit-transform:rotate(-166.29303899592deg);
  -moz-transform:rotate(-166.29303899592deg);
  -ms-transform:rotate(-166.29303899592deg);
  transform:rotate(-166.29303899592deg);
}
#u4069_seg1 {
  position:absolute;
  left:67px;
  top:8px;
  width:20px;
  height:20px;
}
#u4070 {
  position:absolute;
  left:-9px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:295px;
  top:245px;
  width:0px;
  height:0px;
}
#u4071_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4071_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4072 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073 {
  position:absolute;
  left:295px;
  top:325px;
  width:0px;
  height:0px;
}
#u4073_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4073_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4074 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075 {
  position:absolute;
  left:295px;
  top:405px;
  width:0px;
  height:0px;
}
#u4075_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4075_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4076 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077 {
  position:absolute;
  left:309px;
  top:85px;
  width:0px;
  height:0px;
}
#u4077_seg0 {
  position:absolute;
  left:-3px;
  top:5px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(-168.231711067979deg);
  -moz-transform:rotate(-168.231711067979deg);
  -ms-transform:rotate(-168.231711067979deg);
  transform:rotate(-168.231711067979deg);
}
#u4077_seg1 {
  position:absolute;
  left:81px;
  top:8px;
  width:20px;
  height:20px;
}
#u4078 {
  position:absolute;
  left:-2px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079 {
  position:absolute;
  left:405px;
  top:165px;
  width:0px;
  height:0px;
}
#u4079_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4079_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4080 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081 {
  position:absolute;
  left:405px;
  top:245px;
  width:0px;
  height:0px;
}
#u4081_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4081_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4082 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083 {
  position:absolute;
  left:405px;
  top:325px;
  width:0px;
  height:0px;
}
#u4083_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4083_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4084 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085 {
  position:absolute;
  left:405px;
  top:405px;
  width:0px;
  height:0px;
}
#u4085_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4085_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4086 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087 {
  position:absolute;
  left:405px;
  top:485px;
  width:0px;
  height:0px;
}
#u4087_seg0 {
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4087_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4088 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:877px;
  top:25px;
  width:100px;
  height:60px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4091 {
  position:absolute;
  left:492px;
  top:105px;
  width:100px;
  height:60px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4091_ref {
  position:absolute;
  left:584px;
  top:155px;
  width:1px;
  height:1px;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  position:absolute;
  left:492px;
  top:185px;
  width:100px;
  height:60px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4093_ref {
  position:absolute;
  left:584px;
  top:235px;
  width:1px;
  height:1px;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4095 {
  position:absolute;
  left:492px;
  top:265px;
  width:100px;
  height:60px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4095_ref {
  position:absolute;
  left:584px;
  top:315px;
  width:1px;
  height:1px;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4097 {
  position:absolute;
  left:492px;
  top:345px;
  width:100px;
  height:60px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4097_ref {
  position:absolute;
  left:584px;
  top:395px;
  width:1px;
  height:1px;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4099 {
  position:absolute;
  left:492px;
  top:425px;
  width:100px;
  height:60px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4099_ref {
  position:absolute;
  left:584px;
  top:475px;
  width:1px;
  height:1px;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4101 {
  position:absolute;
  left:822px;
  top:105px;
  width:100px;
  height:60px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4101_ref {
  position:absolute;
  left:914px;
  top:155px;
  width:1px;
  height:1px;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4103 {
  position:absolute;
  left:602px;
  top:185px;
  width:100px;
  height:60px;
}
#u4104 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4103_ref {
  position:absolute;
  left:694px;
  top:235px;
  width:1px;
  height:1px;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4105 {
  position:absolute;
  left:822px;
  top:185px;
  width:100px;
  height:60px;
}
#u4106 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4105_ref {
  position:absolute;
  left:914px;
  top:235px;
  width:1px;
  height:1px;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4107 {
  position:absolute;
  left:712px;
  top:265px;
  width:100px;
  height:60px;
}
#u4108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4107_ref {
  position:absolute;
  left:804px;
  top:315px;
  width:1px;
  height:1px;
}
#u4109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4109 {
  position:absolute;
  left:822px;
  top:265px;
  width:100px;
  height:60px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4109_ref {
  position:absolute;
  left:914px;
  top:315px;
  width:1px;
  height:1px;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4111 {
  position:absolute;
  left:932px;
  top:265px;
  width:100px;
  height:60px;
}
#u4112 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4111_ref {
  position:absolute;
  left:1024px;
  top:315px;
  width:1px;
  height:1px;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4113 {
  position:absolute;
  left:1042px;
  top:185px;
  width:100px;
  height:60px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4113_ref {
  position:absolute;
  left:1134px;
  top:235px;
  width:1px;
  height:1px;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4115 {
  position:absolute;
  left:1152px;
  top:105px;
  width:100px;
  height:60px;
}
#u4116 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4115_ref {
  position:absolute;
  left:1244px;
  top:155px;
  width:1px;
  height:1px;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4117 {
  position:absolute;
  left:1262px;
  top:105px;
  width:100px;
  height:60px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4117_ref {
  position:absolute;
  left:1354px;
  top:155px;
  width:1px;
  height:1px;
}
#u4119 {
  position:absolute;
  left:927px;
  top:85px;
  width:0px;
  height:0px;
}
#u4119_seg0 {
  position:absolute;
  left:-387px;
  top:5px;
  width:388px;
  height:10px;
  -webkit-transform:rotate(-2.97373108248011deg);
  -moz-transform:rotate(-2.97373108248011deg);
  -ms-transform:rotate(-2.97373108248011deg);
  transform:rotate(-2.97373108248011deg);
}
#u4119_seg1 {
  position:absolute;
  left:-391px;
  top:9px;
  width:20px;
  height:20px;
}
#u4120 {
  position:absolute;
  left:-242px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121 {
  position:absolute;
  left:542px;
  top:165px;
  width:0px;
  height:0px;
}
#u4121_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4121_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4122 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123 {
  position:absolute;
  left:542px;
  top:245px;
  width:0px;
  height:0px;
}
#u4123_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4123_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4124 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4125 {
  position:absolute;
  left:542px;
  top:325px;
  width:0px;
  height:0px;
}
#u4125_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4125_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4126 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127 {
  position:absolute;
  left:542px;
  top:405px;
  width:0px;
  height:0px;
}
#u4127_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4127_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4128 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129 {
  position:absolute;
  left:927px;
  top:85px;
  width:0px;
  height:0px;
}
#u4129_seg0 {
  position:absolute;
  left:-57px;
  top:5px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(-19.9831065219deg);
  -moz-transform:rotate(-19.9831065219deg);
  -ms-transform:rotate(-19.9831065219deg);
  transform:rotate(-19.9831065219deg);
}
#u4129_seg1 {
  position:absolute;
  left:-61px;
  top:8px;
  width:20px;
  height:20px;
}
#u4130 {
  position:absolute;
  left:-77px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4131 {
  position:absolute;
  left:872px;
  top:165px;
  width:0px;
  height:0px;
}
#u4131_seg0 {
  position:absolute;
  left:-222px;
  top:5px;
  width:224px;
  height:10px;
  -webkit-transform:rotate(-5.19442890773481deg);
  -moz-transform:rotate(-5.19442890773481deg);
  -ms-transform:rotate(-5.19442890773481deg);
  transform:rotate(-5.19442890773481deg);
}
#u4131_seg1 {
  position:absolute;
  left:-226px;
  top:9px;
  width:20px;
  height:20px;
}
#u4132 {
  position:absolute;
  left:-160px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133 {
  position:absolute;
  left:872px;
  top:165px;
  width:0px;
  height:0px;
}
#u4133_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4133_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4134 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135 {
  position:absolute;
  left:872px;
  top:245px;
  width:0px;
  height:0px;
}
#u4135_seg0 {
  position:absolute;
  left:-112px;
  top:5px;
  width:114px;
  height:10px;
  -webkit-transform:rotate(-10.304846468766deg);
  -moz-transform:rotate(-10.304846468766deg);
  -ms-transform:rotate(-10.304846468766deg);
  transform:rotate(-10.304846468766deg);
}
#u4135_seg1 {
  position:absolute;
  left:-116px;
  top:9px;
  width:20px;
  height:20px;
}
#u4136 {
  position:absolute;
  left:-105px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137 {
  position:absolute;
  left:872px;
  top:245px;
  width:0px;
  height:0px;
}
#u4137_seg0 {
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4137_seg1 {
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u4138 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139 {
  position:absolute;
  left:872px;
  top:245px;
  width:0px;
  height:0px;
}
#u4139_seg0 {
  position:absolute;
  left:-2px;
  top:5px;
  width:114px;
  height:10px;
  -webkit-transform:rotate(-169.695153531234deg);
  -moz-transform:rotate(-169.695153531234deg);
  -ms-transform:rotate(-169.695153531234deg);
  transform:rotate(-169.695153531234deg);
}
#u4139_seg1 {
  position:absolute;
  left:95px;
  top:9px;
  width:20px;
  height:20px;
}
#u4140 {
  position:absolute;
  left:5px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141 {
  position:absolute;
  left:872px;
  top:165px;
  width:0px;
  height:0px;
}
#u4141_seg0 {
  position:absolute;
  left:-2px;
  top:5px;
  width:224px;
  height:10px;
  -webkit-transform:rotate(-174.805571092265deg);
  -moz-transform:rotate(-174.805571092265deg);
  -ms-transform:rotate(-174.805571092265deg);
  transform:rotate(-174.805571092265deg);
}
#u4141_seg1 {
  position:absolute;
  left:205px;
  top:9px;
  width:20px;
  height:20px;
}
#u4142 {
  position:absolute;
  left:60px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143 {
  position:absolute;
  left:927px;
  top:85px;
  width:0px;
  height:0px;
}
#u4143_seg0 {
  position:absolute;
  left:-1px;
  top:5px;
  width:278px;
  height:10px;
  -webkit-transform:rotate(-175.840357706287deg);
  -moz-transform:rotate(-175.840357706287deg);
  -ms-transform:rotate(-175.840357706287deg);
  transform:rotate(-175.840357706287deg);
}
#u4143_seg1 {
  position:absolute;
  left:260px;
  top:9px;
  width:20px;
  height:20px;
}
#u4144 {
  position:absolute;
  left:88px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145 {
  position:absolute;
  left:927px;
  top:85px;
  width:0px;
  height:0px;
}
#u4145_seg0 {
  position:absolute;
  left:-1px;
  top:5px;
  width:388px;
  height:10px;
  -webkit-transform:rotate(-177.02626891752deg);
  -moz-transform:rotate(-177.02626891752deg);
  -ms-transform:rotate(-177.02626891752deg);
  transform:rotate(-177.02626891752deg);
}
#u4145_seg1 {
  position:absolute;
  left:370px;
  top:9px;
  width:20px;
  height:20px;
}
#u4146 {
  position:absolute;
  left:143px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
