body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u876 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:10px;
  top:30px;
  width:320px;
  height:49px;
}
#u878 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u879 {
  position:absolute;
  left:23px;
  top:45px;
  width:12px;
  height:20px;
}
#u880 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:45px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:10px;
  top:89px;
  width:320px;
  height:57px;
}
#u885 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:23px;
  top:108px;
  width:233px;
  height:19px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u888 {
  position:absolute;
  left:277px;
  top:108px;
  width:35px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:10px;
  top:146px;
  width:320px;
  height:57px;
}
#u892 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u893 {
  position:absolute;
  left:23px;
  top:165px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:212px;
  top:159px;
  width:100px;
  height:31px;
}
#u896 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u898 {
  position:absolute;
  left:287px;
  top:173px;
  width:15px;
  height:3px;
}
#u899 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:18px;
}
#u900 {
  position:absolute;
  left:293px;
  top:167px;
  width:3px;
  height:15px;
}
#u901 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u902 {
  position:absolute;
  left:223px;
  top:173px;
  width:15px;
  height:3px;
}
#u903 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u904 {
  position:absolute;
  left:246px;
  top:159px;
  width:34px;
  height:31px;
  font-size:16px;
}
#u905 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:10px;
  top:203px;
  width:320px;
  height:57px;
}
#u908 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u909 {
  position:absolute;
  left:23px;
  top:222px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u911 {
  position:absolute;
  left:277px;
  top:222px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:20px;
  top:270px;
  width:300px;
  height:40px;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
