body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(229, 0, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(204, 204, 204, 0.349019607843137);
  font-size:16px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  font-size:16px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u2007 {
  position:absolute;
  left:20px;
  top:29px;
  width:11px;
  height:18px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:52px;
  font-size:14px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:15px;
  top:86px;
  width:43px;
  height:16px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:121px;
  width:375px;
  height:52px;
  font-size:14px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2015 {
  position:absolute;
  left:15px;
  top:139px;
  width:29px;
  height:16px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2017 {
  position:absolute;
  left:78px;
  top:139px;
  width:68px;
  height:16px;
  color:#999999;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2019 {
  position:absolute;
  left:78px;
  top:86px;
  width:132px;
  height:16px;
  color:#999999;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2021 {
  position:absolute;
  left:15px;
  top:185px;
  width:233px;
  height:16px;
}
#u2022 {
  position:absolute;
  left:16px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u2021_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 0, 85, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#E50055;
}
#u2023 {
  position:absolute;
  left:16px;
  top:211px;
  width:344px;
  height:44px;
  font-size:16px;
  color:#E50055;
}
#u2024 {
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:52px;
  font-size:14px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  position:absolute;
  left:15px;
  top:86px;
  width:43px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:121px;
  width:375px;
  height:52px;
  font-size:14px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031 {
  position:absolute;
  left:15px;
  top:139px;
  width:43px;
  height:16px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2033 {
  position:absolute;
  left:78px;
  top:139px;
  width:68px;
  height:16px;
  color:#999999;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2035 {
  position:absolute;
  left:78px;
  top:86px;
  width:132px;
  height:16px;
  color:#999999;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2037 {
  position:absolute;
  left:265px;
  top:137px;
  width:96px;
  height:20px;
  text-align:right;
}
#u2038 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u2039 {
  position:absolute;
  left:15px;
  top:185px;
  width:233px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:16px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u2039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 0, 85, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#E50055;
}
#u2041 {
  position:absolute;
  left:16px;
  top:211px;
  width:344px;
  height:44px;
  font-size:16px;
  color:#E50055;
}
#u2042 {
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u2043 {
  position:absolute;
  left:139px;
  top:29px;
  width:97px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
